.puzzle
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "piece6 piece8 piece5"
    "piece9 piece3 piece1"
    "piece2 piece4 piece7";
    width: 100%;
}
#piece1
{
    grid-area: piece1;
    width: 100%;
}
#piece2
{
    grid-area: piece2;
    width: 100%;
}
#piece3
{
    grid-area: piece3;
    width: 100%;
}
#piece4
{
    grid-area: piece4;
    width: 100%;
}
#piece5
{
    grid-area: piece5;
    width: 100%;
}
#piece6
{
    grid-area: piece6;
    width: 100%;
}
#piece7
{
    grid-area: piece7;
    width: 100%;
}
#piece8
{
    grid-area: piece8;
    width: 100%;
}
#piece9
{
    grid-area: piece9;
    width: 100%;
}